
body {
    text-align: center;
    background: rgb(102, 153, 204);
}

.marginTop {
    margin-top: 10vh;
}

.marginTop2 {
    margin-top: 20vh;
}

.marginTop3 {
    margin-top: 30vh;
}

.titre {
    font-size: 5vw;
    color: #f0ffff;
}














