
body {
    text-align: center;
    background: rgb(102, 153, 204);
}

.marginTop {
    margin-top: 10vh;
}

.marginTop2 {
    margin-top: 20vh;
}

.marginTop3 {
    margin-top: 30vh;
}

.titre {
    font-size: 5vw;
    color: #f0ffff;
}

.texte {
    font-size: 2vw;
    color: #f0ffff;
}

.smallButton {
    font-size: 1vw;
    width: 10vw;
    height: 2vw;
}

.reallySmallButton {
    font-size: 0.8vw;
    width: 7vw;
    height: 1.5vw;
}














