{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1> Associer {{ athlete.firstName }} {{ athlete.lastName }} à un événement </h1>

    <form>
        <
    </form>
{% endblock %}
