{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }
    </style>

    <span>
        <div class="example-wrapper">
        <a href={{ path("connexion") }}>
            <button class="glow-on-hover" type="button">
                Je suis un Administrateur
            </button>
        </a>
    </div>
        <br/>
    <div class="example-wrapper">
        <a href={{ path("athlete_listeClub") }}>
            <button class="glow-on-hover" type="button">
            Je suis un Athlete
            </button>
        </a>
    </div>
         </span>



    {#    {% block javascripts %} #}
    {#        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script> #}
    {#        <script src=" {{ asset('js/main.js') }}"></script> #}
    {#        {% endblock %} #}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
